<!-- testimonial starts -->
<div class="section-padding-20-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row text-center mb-20 color-3">
          <div class="single-blog-content">
            <div class="line"></div>
            <div class="container-fluid">
              <div class="row testimonial-box">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12">
                      <h2><b>Testimonials</b></h2>
                      <!-- Carousel for Desktop and Tablet -->
                      <div id="myCarousel" class="carousel slide d-none d-sm-none d-md-block" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                          <li *ngFor="let testimonial of testimonialData.data; let i = index" [class.active]="i === 0" [attr.data-slide-to]="i" data-target="#myCarousel"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div *ngFor="let testimonial of testimonialData.data; let i = index" class="item carousel-item" [class.active]="i === 0">
                            <div class="row">
                              <div class="col-md-6" *ngFor="let half of [0, 1]">
                                <div class="testimonial-wrapper" *ngIf="testimonialData.data[i + half]">
                                  <div class="testimonial">{{testimonialData.data[i + half].text}}</div>
                                  <div class="media">
                                    <div class="media-left d-flex mr-3">
                                      <!--<img src="astralstartseed_blackbox/images/tuser.png" alt="" /> -->
                                    </div>
                                    <div class="media-body">
                                      <div class="overview">
                                        <div class="name"><b>{{testimonialData.data[i + half].user}}</b></div>
                                        <div class="details">{{testimonialData.data[i + half].address}}</div>
                                        <div class="star-rating">
                                          <ul class="list-inline">
                                            <li class="list-inline-item" *ngFor="let star of [1, 2, 3, 4, 5]"><i class="fa fa-star"></i></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Carousel for Mobile -->
                      <div id="myCarouselMobile" class="carousel slide d-block d-sm-block d-md-none" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                          <li *ngFor="let testimonial of testimonialData.data; let i = index" [class.active]="i === 0" [attr.data-slide-to]="i" data-target="#myCarouselMobile"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div *ngFor="let testimonial of testimonialData.data; let i = index" class="item carousel-item" [class.active]="i === 0">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="testimonial-wrapper">
                                  <div class="testimonial">{{testimonial.text}}</div>
                                  <div class="media">
                                    <div class="media-left d-flex mr-3">
                                      <!--<img src="astralstartseed_blackbox/images/tuser.png" alt="" /> -->
                                    </div>
                                    <div class="media-body">
                                      <div class="overview">
                                        <div class="name"><b>{{testimonial.user}}</b></div>
                                        <div class="details">{{testimonial.address}}</div>
                                        <div class="star-rating">
                                          <ul class="list-inline">
                                            <li class="list-inline-item" *ngFor="let star of [1, 2, 3, 4, 5]"><i class="fa fa-star"></i></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End of Carousel -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial closed -->