<!-- ##### Footer Area End ##### -->
<footer class="nb-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about">
            <img src="astralstartseed_blackbox/images/main-logo.jpg" class="img-responsive center-block footer-logo" alt="" />
            <p>Lightworkers also known as star seeds, earth angels and indigo are spiritual beings in human existence sent here to heal. Lightworkers each have a purpose or mission to complete.</p>

            <div class="social-media">
              <ul class="list-inline">
                <li>
                  <a href="https://www.facebook.com/astralstarseed/" title=""><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/lightworkerindigo/" title=""><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://api.whatsapp.com/send?phone={{ contactDetails.whatsapp1 }}&text=Hi I want to contact with you regarding Lightworker" target="_blank" title=""><i class="fa fa-whatsapp"></i></a>
                </li>
                <li>
                  <a href="https://www.etsy.com/shop/LightworkersStore" data-toggle="tooltip" data-placement="bottom" title="Online Store Easy to Checkout" target="_blank"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-info-single">
            <h2 class="title">Help Center</h2>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.etsy.com/shop/LightworkersStore" data-toggle="tooltip" data-placement="bottom" title="Online Store Easy to Checkout" target="_blank"><i class="fa fa-angle-double-right"></i> How to Buy</a>
              </li>
              <li>
                <a routerLink="payment" title="" (click)="top()"><i class="fa fa-angle-double-right"></i> How to Pay</a>
              </li>
              <!-- <li><a href="#!faq" title="" (click)="top()"><i class="fa fa-angle-double-right"></i>
                                  FAQ's</a></li> -->
              <li>
                <a routerLink="contact" title="" (click)="top()"><i class="fa fa-angle-double-right"></i> Contact Us</a>
              </li>
              <li>
                <a routerLink="aboutus" title="" (click)="top()"><i class="fa fa-angle-double-right"></i> About Us</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-info-single">
            <h2 class="title">Customer information</h2>
            <ul class="list-unstyled">
              <li>
                <a href="https://www.etsy.com/shop/LightworkersStore" data-toggle="tooltip" data-placement="bottom" title="Online Store Easy to Checkout" target="_blank"><i class="fa fa-angle-double-right"></i> eStore</a>
              </li>
              <li>
                <a routerLink="tarot" title="" (click)="top()"><i class="fa fa-angle-double-right"></i> Tarot</a>
              </li>
              <li>
                <a routerLink="reiki" title="" (click)="top()"><i class="fa fa-angle-double-right"></i> Reiki</a>
              </li>
              <li>
                <a routerLink="numerology" title="" (click)="top()"><i class="fa fa-angle-double-right"></i> Numerology</a>
              </li>
              <li>
                <a routerLink="switchwords" title="" (click)="top()"><i class="fa fa-angle-double-right"></i> Switchwords</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-info-single">
            <h2 class="title">Security & privacy</h2>
            <ul class="list-unstyled">
              <!-- <li><a href="#!commingsoon" title="" (click)="top()"><i class="fa fa-angle-double-right"></i>
                                  Terms Of Use</a></li>
                          <li><a href="#!commingsoon" title="" (click)="top()"><i class="fa fa-angle-double-right"></i>
                                  Privacy Policy</a></li> -->
              <li>
                <a routerLink="payment" title="" (click)="top()"><i class="fa fa-angle-double-right"></i> Return / Refund Policy</a>
              </li>
              <li>
                <a href="https://www.etsy.com/shop/LightworkersStore" data-toggle="tooltip" data-placement="bottom" title="Online Store Easy to Checkout" target="_blank"><i class="fa fa-angle-double-right"></i> e-commerce link</a>
              </li>
              <!-- <li><a href="#!" title="" (click)="top()"><i class="fa fa-angle-double-right"></i>
                                  Store Locations</a></li> -->
            </ul>
            <span id="siteseal"><img src="./astralstartseed_blackbox/images/ssl.png" alt="ssl png" class="ssl-img"></span>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="footer-info-single">
            <h2 class="title">Payment</h2>
            <p>You can make payments by using Online Transfer or via UPI payments. <a routerLink="payment" class="a-link" (click)="top()">Click here </a>for payments.</p>
          </div>
        </div>
      </div>
    </div>

    <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>Copyright © {{ currentYear }}. LightWorkers.</p>
          </div>
          <div class="col-sm-6">
            <p>Developed and Maintained by <a href="mailto:emd.developer@gmail.com?Subject=Hello%20I%20Want%20To%20Conatct%20With%20You" target="_top" style="color: #1abc9c">EMD-Developers</a></p>
          </div>
        </div>
      </div>
    </section>
     <a href="https://www.verytraffic.com/?ref=80950" style="display: none">Cheap Website Traffic</a>
  </footer>