<div class="text-desc-contain cool-facts-area section-padding-20-0" ng-init="activePayment()">

    <div class="container">

        <div class="row">

            <div class="col-md-12 col-xs-12">

                <div class="row text-center mb-20 color-3 padding-25">

                    <!-- Blog Content -->

                    <div class="single-blog-content">

                        <div class="line"></div>

                        <h2>About Payment :</h2>

                        <p class="text-justify w-text">All readings can take place either in person or through distance, Skype, Whatsapp, Call or through email.<br><br>

                            Reiki healing session can take place either in person or through distance.

                        </p>

                        <p class="text-justify w-text">Payments for reading or healing sessions can eihter be done in person or through online bank transfers or UPI payments.<br><br>

                            Banking details will be given to you after booking a session with us.

                            </p>

                        <p class="text-justify w-text">Please contact Lightworkers before depositing any money to avoide excess money being deposited.We will confirm your apointment on the same day your payments is received.

                            </p>

                        

                        <hr>

                        <p class="payment-email">Payments Confirmation via Email</p>

                        <p class="text-justify w-text">Just click the email link it will allow you to send an email to us. `Hi Lightworkers Team I want to contact with you regurding my payments details`. Please mention your name and mobile number with this mail.</p>

                        <p class="payment-email"><a href="mailto:{{ contactDetails.email1}}?Subject=Payment%20Confirmation%20Details%20Lightworkers"

                            target="_top" class="">{{ contactDetails.email1}}</a></p>

                            <hr>

                            <p class="text-justify w-text">You can confirm your payments via call also.</p>

                        <p class="payment-email">Confirm via Call:<br>

                            <a href="tel:{{ contactDetails.mobile1}}">{{ contactDetails.mobile1}}</a>

                            

                        </p>

                        <hr>

                        <p class="text-justify w-text">Just click the mobile number it will allow you to send  whatsapp message to us. Please mention your name with this Whatsapp text.</p>

                        <p class="payment-email">Confirm via Whatsapp:<br><br>

                        

                            Click on this <a href="https://api.whatsapp.com/send?phone={{ contactDetails.whatsapp1 }}&text=Hi Lightworkers Team I want to contact with you regarding my payments details" target="_blank">{{ contactDetails.whatsapp1 }}</a> number to confirm your payment details via Whatsapp.

                        </p>

                        <br>

                        <br>

                        <p class="small-w-text r-text">NB: Once payment has been made for a particular reading or a healing session it cannot be refunded.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-xs-12 d-none">

                <div class="row text-center mb-20 color-2 padding-25">

                    <!-- Blog Content -->

                    <div class="single-blog-content">

                        <div class="line"></div>

                        <h2>Payment Process for Indian Users:</h2>

                        <p class="text-justify w-text">You can do Online Transfer through Internet Banking to directly deposite the amount (The amount should be confirm via call, whatsapp or email) for your appointment.</p>

                        <br><br>

                        <div class="line"></div>

                        <h2>Direct Deposit in our bank Account:</h2>

                        <p class="text-justify w-text">Our team will share all the details for Online Transfer through Internet Banking like (Account no, IFSC code etc.) </p>                       

                        <p class="small-w-text">NOTES:During payments in description box please write  <span class="r-text">"Your name and contact number"</span> </p>

                        <div class="line"></div>

                        <h2>UPI Payment:</h2>

                        <p class="text-justify w-text"> Comming soon....</p>

                </div>

            </div>

        </div>

       

        </div>

    </div>

</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141176324-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141176324-1');
    </script>