<div class="text-desc-contain cool-facts-area section-padding-20-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row text-center mb-20 color-3 padding-25">
                    <!-- Blog Content -->

                    <div class="single-blog-content">
                        <header class="header gradient-background">
                            <h1 class="header-title">Contact us</h1>
                        </header>
                        <div class="line"></div>
                        <h2>Get in Touch</h2>
                        <p class="text-justify w-text">If you have any questions or need further information, feel free to reach out to us:</p>
                        <p class="text-justify w-text"><strong>Mobile: <a class="text-success" href="tel:{{ contactDetails.mobile1}}">{{ contactDetails.mobile1}}</a></strong></p>
                        <p class="text-justify w-text"><strong>Email: <a  class="text-success" style="font-size: 16px; letter-spacing: 1px;" href="mailto:{{ contactDetails.email1}}?Subject=Hello%20I%20Want%20To%20Conatct%20With%20You" target="_top">{{ contactDetails.email1}}</a></strong></p>
                        <app-query-form></app-query-form>
                        <div class="main-content">
                            <footer class="footer">
                                <p class="text-justify w-text">Ready to experience the healing power ? Contact us now at <a href="https://api.whatsapp.com/send?phone={{ contactDetails.whatsapp1 }}&text=Hi I want to contact with you regarding Crystal Therapy" target="_blank">{{ contactDetails.whatsapp1 }}</a> to get started!</p>
                            </footer>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
