 <!-- ##### Cool Facts Area End ##### -->
 <div class="section-padding-50-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row single-blog-area blog-style-2 text-center mb-20 color-3 padding-25">
            <div class="single-blog-content">
              <div class="line"></div>
              <div class="container">
                <div class="row contains-box">
                  <div class="col-12 col-md-12">
                    <div class="contact-form">
                      
                      <!-- Contact Form -->
                      @if(displayForm){
                      <h2>Get in Touch | Query From</h2>
                      <form [formGroup]="contactForm">
                        <div class="row">
                          <div class="col-12 col-md-4">
                            <div class="group">
                              <input type="text" name="name" id="name" formControlName="name" />
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label>Name *</label>
                              <div *ngIf="contactForm?.get('name')?.invalid && contactForm?.get('name')?.touched" class="error-message">
                                Name is required
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-4">
                            <div class="group">
                              <input type="email" name="email" id="email" formControlName="email" />
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label>Email *</label>
                              <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
                                Email is required and must be valid
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-4">
                            <div class="group">
                              <input type="number" name="phone" id="phone" formControlName="phone" />
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label>Mobile *</label>
                              <div *ngIf="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched" class="error-message">
                                Mobile number is required
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="group">
                              <input type="text" name="subject" id="subject" formControlName="subject" />
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label>Subject</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="group">
                              <textarea name="message" id="message" formControlName="message"> </textarea>
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label>Message *</label>
                              <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error-message">
                                Message is required
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            
                            <button class="btn original-btn" (click)="onSubmit()" [disabled]="contactForm.invalid">Send Message</button>
                          </div>
                        </div>
                      </form>
                      } @else {
                        <div class="success-response">
                          <h2 class="text-success">Thank you for reaching out. We have received your message and will get back to you shortly. If urgent, please contact us via Whatsapp</h2>
                          <div>
                          <a title="whatsapp" class="a-whatsapp" href="https://api.whatsapp.com/send?phone={{ contactDetails.whatsapp1 }}&text=Hi I want to contact with you regarding Lightworker" target="_blank">WhatsApp Click Here</a>
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
