ul.custom-li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width:300px;
    margin:auto;
  }
  
  ul.custom-li li {
    padding-left: 1em;
    text-indent: -1em;
    color: rgba(255, 255, 255, 0.8);
  }
  
  ul.custom-li li:before {
    content: "+";
    padding-right: 5px;
  }