<div class="text-desc-contain cool-facts-area section-padding-20-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row text-center mb-20 color-3 padding-25">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <header class="header gradient-background">
                            <h1 class="header-title">Explore Our Healing and Spiritual Services</h1>
                        </header>
                        <div class="line"></div>
                        <h2>Comprehensive Services to Enhance Your Life</h2>
                        <p class="text-justify w-text">Welcome to our range of healing and spiritual services, designed to provide you with clarity, guidance, and holistic well-being. Explore the profound benefits of each service, tailored to meet your unique needs.</p>

                        <h2>Our Services and Pricing</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-alternate-rows">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Service</th>
                                        <th>Details</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--Healing Rituals-->
                                    <tr>
                                        <td rowspan="3">Healing Rituals</td>
                                        <td>Experience rituals designed to heal and rejuvenate.</td>
                                        <td> ₹600</td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Healing Ritual</td>
                                        <td> ₹1000</td>
                                    </tr>
                                    <tr>
                                        <td>Premium Healing Ritual</td>
                                        <td> ₹1500</td>
                                    </tr>
                                    
                                    <!--Healing Rituals-->
                                    <!--Crystal Therapy-->
                                    <tr>
                                        <td rowspan="3">Crystal Therapy</td>
                                        <td>Basic Package : Harness the power of crystals for holistic healing.</td>
                                        <td> ₹600</td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Package : In-depth crystal therapy session with personalized guidance.</td>
                                        <td> ₹1000</td>
                                    </tr>
                                    <tr>
                                        <td>Premium Package : Comprehensive crystal therapy with follow-up sessions.</td>
                                        <td> ₹1500</td>
                                    </tr>
                                    <!--Crystal Therapy-->
                                    <!-- Vaastu-->
                                    <tr>
                                        <td rowspan="2"> Vaastu Consultation</td>
                                        <td>Online Vaastu Consultation (Through a video call)</td>
                                        <td>₹3999</td>
                                    </tr>
                                    <tr>
                                        <td>On-Site Vaastu Visit (Price may vary based on location)</td>
                                        <td> ₹6999</td>
                                    </tr>
                                    <!-- Vaastu-->
                                    <!-- Numerology-->
                                    <tr>
                                        <td rowspan="5"> Numerology</td>
                                        <td>Get a personalized numerology report on your mobile.</td>
                                        <td>₹500</td>
                                    </tr>
                                    <tr>
                                        <td>Detailed Report to Change Your Number</td>
                                        <td> ₹2999</td>
                                    </tr>
                                    <tr>
                                        <td>Discover the vibrations of your name and how it influences your destiny.</td>
                                        <td> ₹399</td>
                                    </tr>
                                    <tr>
                                        <td>Name Fixing :Ensure your name resonates with positive energies for personal and professional success.</td>
                                        <td> ₹1999</td>
                                    </tr>
                                    <tr>
                                        <td>Name Designing: Craft names that align with your numerological profile for harmony and success.</td>
                                        <td> ₹2999</td>
                                    </tr>
                                    <!-- Numerology-->
                                    <!--Scientific Logo Design-->
                                    <tr>
                                        <td rowspan="3">Scientific Logo Design</td>
                                        <td>Basic Package : A professionally designed logo that effectively represents your brand.</td>
                                        <td>₹3800</td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Package : Includes multiple logo concepts and revisions for a more refined design.</td>
                                        <td>₹6000</td>
                                    </tr>
                                    <tr>
                                        <td>Premium Package : Comprehensive logo design service with in-depth brand analysis, multiple concepts, and unlimited revisions.</td>
                                        <td>₹7900</td>
                                    </tr>
                                    <!--Scientific Logo Design-->
                                    <!--Signature Analysis-->
                                    <tr>
                                        <td rowspan="3">Signature Analysis</td>
                                        <td>Basic Package : A detailed analysis of your signature providing insights into your personality traits and potential challenges.</td>
                                        <td>₹2400</td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Package : Includes a comprehensive signature analysis with astrological correlations and personalized guidance.</td>
                                        <td>₹4400</td>
                                    </tr>
                                    <tr>
                                        <td>Premium Package : In-depth signature analysis with astrological connections, life path guidance, and follow-up consultations for continued support.</td>
                                        <td>₹6500</td>
                                    </tr>

                                    <!--Signature Analysis-->
                                    <tr>
                                        <td rowspan="4">Tarot Reading</td>
                                        <td>Yes/No Tarot Reading / Question</td>
                                        <td>₹199</td>
                                    </tr>
                                    <tr>
                                        <td>30-Minute Detailed Reading / Question</td>
                                        <td>₹1500</td>
                                    </tr>
                                    <tr>
                                        <td>45-Minute Detailed Reading / Question</td>
                                        <td>₹2400</td>
                                    </tr>
                                    <tr>
                                        <td>1-Hour Detailed Reading / Question</td>
                                        <td>₹2999</td>
                                    </tr>
                                    <!--Rune Reading-->
                                    <tr>
                                        <td rowspan="3">Rune Reading</td>
                                        <td>Basic Rune Reading</td>
                                        <td>₹500</td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Rune Reading</td>
                                        <td>₹1000</td>
                                    </tr>
                                    <tr>
                                        <td>Premium Rune Reading</td>
                                        <td>₹1500</td>
                                    </tr>
                                    <!--Rune Reading-->
                                    <!--Switch Words and Remedies-->
                                    <tr>
                                        <td rowspan="3">Switch Words and Remedies</td>
                                        <td>Basic Switch Words Session</td>
                                        <td> ₹1000</td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Switch Words Session</td>
                                        <td> ₹1500</td>
                                    </tr>
                                    <tr>
                                        <td>Premium Switch Words Session</td>
                                        <td> ₹2999</td>
                                    </tr>
                                    <!--Switch Words and Remedies-->
                                    <!--Crystal Ball Gazing-->
                                    <tr>
                                        <td rowspan="3">Crystal Ball Gazing</td>
                                        <td>Basic Crystal Ball Gazing Session for 1 Hour</td>
                                        <td> ₹1500</td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Crystal Ball Gazing Session for 1.5 Hours</td>
                                        <td> ₹2400</td>
                                    </tr>
                                    <tr>
                                        <td>Premium Crystal Ball Gazing Session for 2 Hours</td>
                                        <td> ₹3500</td>
                                    </tr>
                                    <!--Crystal Ball Gazing-->
                                    <!--Akashic Records -->
                                    <tr>
                                        <td>Akashic Records Reading</td>
                                        <td>60-minute one-on-one session. Detailed reading of your soul’s records. Personalized guidance and answers to your questions. Session conducted via phone or video call</td>
                                        <td> ₹3999</td>
                                    </tr>
                                    <!--Akashic Records -->
                                    <!--Reiki-->
                                    <tr>
                                        <td rowspan="3">Reiki Healing</td>
                                        <td>Basic ove and relationship 
                                            - per session</td>
                                        <td> ₹198</td>
                                    </tr>
                                    <tr>
                                        <td>Advanced Reiki Session : Health Reiki</td>
                                        <td> ₹399</td>
                                    </tr>
                                    <tr>
                                        <td>Premium Reiki Session : Money Reiki</td>
                                        <td> ₹600</td>
                                    </tr>

                                    <!--Reiki-->
                                </tbody>
                            </table>
                        </div>

                        <div class="main-content">
                            <section class="highlighted-points">
                                <h2 class="section-title">Benefits of Our Services</h2>
                                <ul class="highlighted-list text-left">
                                    <li class="section-list-item"><strong>Clarity:</strong> Gain clear insights into your life and situations.</li>
                                    <li class="section-list-item"><strong>Guidance:</strong> Receive expert guidance on important decisions and paths.</li>
                                    <li class="section-list-item"><strong>Healing:</strong> Experience physical, emotional, and spiritual healing.</li>
                                    <li class="section-list-item"><strong>Personal Growth:</strong> Enhance your understanding of yourself and foster personal growth.</li>
                                    <li class="section-list-item"><strong>Positive Energy:</strong> Attract positive outcomes and bring harmony into your life.</li>
                                </ul>

                                <h2 class="section-title">Why Choose Us?</h2>
                                <ul class="highlighted-list text-left">
                                    <li class="section-list-item"><strong>Expert Practitioners:</strong> Our team consists of highly skilled and experienced practitioners.</li>
                                    <li class="section-list-item"><strong>Personalized Sessions:</strong> Each session is tailored to your unique needs and goals.</li>
                                    <li class="section-list-item"><strong>Holistic Approach:</strong> We offer comprehensive healing that addresses physical, emotional, and spiritual aspects.</li>
                                </ul>
                            </section>

                            <footer class="footer">
                                <p class="text-justify w-text">Ready to transform your life with our healing and spiritual services? Contact us now at <a href="https://api.whatsapp.com/send?phone={{ contactDetails.whatsapp1 }}&text=Hi, I want to contact you regarding your services" target="_blank">{{ contactDetails.whatsapp1 }}</a> to book your session!</p>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
