.candle-icon {
    width: 30px;
    margin-top: -7px;
  }
  .btn.disabled, .btn:disabled{
      cursor: not-allowed;
  }
  a.a-whatsapp{
    color: #f9a55b;
    font-size: 15px;
  }
  .ssl-img{
      width:120px
  }
  .success-response{
    .text-success {
      color: #28a745 !important;
      font-size: 18px;
    }
    .a-whatsapp {
      font-size: 15px !important;
      color: #f9a55b !important;
      text-align: center !important;
      display: block !important;
    }
}