.candle-icon {
    width: 30px;
    margin-top: -7px;
  }
  .btn.disabled, .btn:disabled{
      cursor: not-allowed;
  }
  a.a-whatsapp{
    color: #f9a55b;
    font-size: 15px;
  }
  .ssl-img{
      width:120px
  }