

.header {
    color: white;
    padding: 10px 0;
    text-align: center;
   
}

.header-title {
    margin: 0;
    font-size: 20px;
    @media only screen and (max-width: 767px) {
        font-size: 20px;
       }
}

.main-content {
    padding: 20px;
    margin: auto;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    color: #4CAF50;
}

.section-text {
    margin: 10px 0;
}

.section-list {
    list-style-type: disc;
    padding-left: 20px;
}

.section-list-item {
    margin: 5px 0;
}

.highlighted-points {
    background-color: #e8f5e9;
    padding: 10px;
    border-left: 5px solid #4CAF50;
    padding-bottom: 40px;
}

.highlighted-title {
    margin: 0 0 10px;
}

.highlighted-list {
    list-style-type: disc;
    padding-left: 20px;
}

.highlighted-list-item {
    margin: 5px 0;
}

.footer {
    text-align: center;
    margin: 20px 0;
}

.footer-text {
    margin: 0;
}

.footer a {
    color: #4CAF50;
    text-decoration: none;
}

