/* You can add global styles to this file, and also import other style files */
@media (min-width: 1200px) {
    .container {
        max-width: 85% !important;
    }
    .ssl-img{
        width: 200px;
    }
    .single-blog-content {
        .header{
            position: absolute;
            width: 100%;
            left: 0;
            top: -50px;
            height: 50px;
        }
      }
}

@media (max-width: 768px) {
    .single-blog-content {
        .header{
            position: absolute;
            width: 100%;
            left: 0;
            top: -66px;
            height: 70px;
        }
      } 
}

.error-message {
    font-style: normal;
    font-size: 12px;
    color: #ff3333;
    padding-top: 0px;
    position: absolute;
}
.text-success,.a-whatsapp {
    color: #7eff20 !important;
} 

.gradient-background {
    background-image: linear-gradient(to right, #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,);
    animation: gradient-animation 1s ease-in-out infinite;
  }
  
  @keyframes gradient-animation {
    0%, 25% {
      background-position: 0% 0%;
    }
    50%, 75% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .gradient-text {
    background-image: linear-gradient(to right,#f5e38b 45%,
    #f6f2c0 50%,
    #f5e38b 55%,);
    -webkit-background-clip: text; /* Necessary for WebKit browsers */
    -webkit-text-fill-color: transparent; /* Makes text transparent */
    color: #fff; /* Optional: Fallback color for non-supporting browsers */
    padding: 5px; /* Add some padding for better text visibility */
  }

 body.background-overlay{
    background-repeat: repeat;
    background-size: auto !important;
 } 

 .header {
  color: white;
  padding: 10px 0;
  text-align: center;
 
}

.header-title {
  margin: 0;
  font-size: 20px;
  @media only screen and (max-width: 767px) {
      font-size: 20px;
     }
}

.main-content {
  margin: auto;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  color: #bf0b67;
}

.section-text {
  margin: 10px 0;
}

.section-list {
  list-style-type: disc;
  padding-left: 20px;
}

.section-list-item {
  margin: 5px 0;
}

.highlighted-points {
  background-color: #e8f5e9;
  padding: 10px;
  border-left: 5px solid #4CAF50;
  padding-bottom: 40px;
}

.highlighted-title {
  margin: 0 0 10px;
}

.highlighted-list {
  list-style-type: disc;
  padding-left: 20px;
}

.highlighted-list-item {
  margin: 5px 0;
}

.footer {
  text-align: center;
  margin: 20px 0;
}

.footer-text {
  margin: 0;
}

.footer a {
  color: #4CAF50;
  text-decoration: none;
}
ul.custom-li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width:300px;
  margin:auto;
}

ul.custom-li li {
  padding-left: 1em;
  text-indent: -1em;
  color: rgba(255, 255, 255, 0.8);
}

ul.custom-li li:before {
  content: "+";
  padding-right: 5px;
}