<div class="text-desc-contain cool-facts-area section-padding-20-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row text-center mb-20 color-3 padding-25">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <h1 class="seo-h1">Tarot reading in kolkata</h1>
                        <div class="line"></div>
                        <h2>What is Tarot ?</h2>
                        <p class="text-justify w-text">The tarot is a deck of 78 cards each with its own imagery,symbolism and story. The 22 Major Arcana cards represents life karmic and spiritual lessons ans 56 minor arcana cards reflect the trial and tribulations that we experiance on a daily basis. In Lightworkers you can enquire about certain aspect of your life  like professional,personal or love as a whole or you can have few specific questions that you need answers to. You can have a simple Yes/No question that can be answered too.</p>
                        <p class="text-justify w-text">Tarot is the story book of our life the mirror to our soul and the key to our inner wisdom.</p>
                        <p class="text-justify w-text">Tarot is perfect for self development, making choices, taking decisions, manifesting goals, coaching others, planning a business, writing a book, starting a new family.</p>
                        <p class="text-justify r-text">Questions in the reading can be from :</p>
                        <p class="text-justify w-text">
                            Love and Marriage <br>
                            Finance and Career<br>
                            Health and Lifespan<br>
                            Spirituality<br>
                            Education<br>
                            Travel
                        </p>
                        <p class="text-justify w-text">Different spreads are available to give you a better clarity on your situation.
                            Chance Spread: It helps you understand the chance of a particular thing being a success. </p>
                        <p class="text-justify w-text"><u class="r-text">Yes/No Answer</u>&nbsp;: If you have a particular question with a simple yes/no answer then this spread is for you.</p>
                        <p class="text-justify w-text"><u class="r-text">The Celtic Cross</u>&nbsp;: This is probably the most popular spread in use today. It sheds light on many aspect of your life.</p>
                        <p class="text-justify w-text"><u class="r-text">Relationship Spread</u>&nbsp;: For any love  or relationship related queries this is the spread. This can be used to explore the relationships with others and to understand their view points. </p>
                        <p class="text-justify w-text"><u class="r-text">Three Card Spread</u>&nbsp;: This can be used to get a quick overview about the situation for which the reading is done. It can be used for almost any and everything.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
